.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
    margin: 0 auto;
    padding: 1rem;
}

app-upload-button {
  display: block;
}

app-table {
  width: 80%;
}