<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date of Birth</th>
      <th>Married</th>
      <th>Phone</th>
      <th>Salary</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    @for (contact of contacts; track $index) {
      <tr>
        <td>{{ contact.name }}</td>
        <td>{{ contact.dateOfBirth | date }}</td>
        <td>{{ contact.isMarried ? 'Yes' : 'No' }}</td>
        <td>{{ contact.phone }}</td>
        <td>{{ contact.salary | currency }}</td>
        <td>
          <button (click)="deleteContact(contact.id)">Delete</button>
        </td>
      </tr>
    }
  </tbody>
</table>

@if (!contacts || contacts.length === 0) {
    <div class="text-center text-gray-500 mt-4">
        No contacts available
    </div>
}


